.button {
    -fx-background-color: transparent;
    -fx-text-fill: #f1e2cc;
}
.button:hover
{
    -fx-text-fill: #88594c;
}

.checkBox {
    -fx-background-color: transparent;
    -fx-text-fill: #f1e2cc;
    -fx-font-size: 14;
}
.checkBox:hover
{
    -fx-text-fill: #88594c;
}

.choiceBox {
    -fx-background-color: transparent;
    -fx-text-fill: #f1e2cc;
    -fx-font-size: 15;
}

.panel {
    -fx-background-color: #001233;
}

.slider {
    -fx-background-color: rgb(0, 32, 75);
}

.configButton {
    -fx-background-radius: 50;
    -fx-background-color: #ff595a;
    -fx-text-fill: #f1e2cc;

    -fx-font-size: 19;
    -fx-padding: 12 30;

    -fx-border-color: #ff595a;
    -fx-border-width: 2;
    -fx-border-radius: 50;
}

.configButton:hover
{
    -fx-background-color: transparent;
    -fx-text-fill: #ff595a;

}

.backButton {
    -fx-background-radius: 50;
    -fx-background-color: #ff595a;
    -fx-text-fill: #f1e2cc;

    -fx-font-size: 0;
    -fx-padding: 0;

    -fx-border-color: #ff595a;
    -fx-border-width: 2;
    -fx-border-radius: 50;
}

.backButton:hover
{
    -fx-background-color: transparent;
    -fx-text-fill: #ff595a;
}


.tab-pane {
    -fx-tab-min-height: 3em;
    /* 24 */

    -fx-tab-max-height: 3em;
    /* 24 */
}
.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
}
.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: #17181B;
}
.tab:selected {
    -fx-background-color: #ff595a;
}
.tab:focused {
    -fx-focus-color: transparent;
}
.tab {
    -fx-padding: 0 20 0 20;
}
.tab-pane *.tab-header-background {
    -fx-background-color: #001233;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
}
.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.label {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}